#wrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr 1fr 0fr;
	justify-content: space-between;
	align-content: space-between;
	grid-gap: 7px;
	grid-template-areas:
		"h"
		"m"
		"f";
}


/* responsivitet */
@media only screen and (max-width: 639px){ /* mobilversjon */
	#wrapper{	
		min-width: 100%;
	}
}