#wrapper{
	display: grid;
	grid-template-columns: 1fr 1.618fr;
	grid-template-rows: 0fr 1fr 0fr;
	justify-content: space-between;
	align-content: space-between;
	grid-gap: 7px;
	grid-template-areas:
		"h h"
		"s m"
		"f f";
}


/* sidekolonne */
#sidebar{
	grid-area: s;
	padding: 2% 3%;
}
#sidebar *{
	max-width: 100%;
}
#sidebar h2{
	margin-bottom: 10px;
}
#sidebar ul{
	margin: 0;
}


/* hentet fra https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
#sidebar .video_container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
#sidebar .video_container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#sidebar .video_container *{
	border: none;
}


/* responsivitet */
@media only screen and (max-width: 639px){ /* mobilversjon */
	#wrapper{	
		min-width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 0fr 1fr 0fr 0fr;
		grid-template-areas:
			"h"
			"m"
			"s"
			"f";
	}
}