*{
	background: #fff !important;
	color: #000 !important;
}

html body #wrapper #page_header #navbar{
	display: none;
}

body .skull{
	display: none;
}

html body #wrapper #page_header h1 a{
	font-size: 50px;
	margin: 10px;
	width: auto;
	height: auto;
}

a::after{
	content: " ("attr(href)")";
}
h1 a::after, h2 a::after, #page_footer a::after{
	content: none;
}

html body #wrapper *{
	border-color: #000 !important;
}